<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td class="lead"><%= chatroom.name %></td>
        <td>
          <%= link_to fa_icon('sign-in', text: 'Join'),
                      chatroom_chatroom_users_path(chatroom),
                      method: :post,
                      class: 'btn btn-success' if user_signed_in? %>
        </td>
        <td>
          <%= link_to fa_icon('sign-out', text: 'Leave'),
                      chatroom_chatroom_users_path(chatroom),
                      method: :delete,
                      class: 'btn btn-danger' if user_signed_in? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path if user_signed_in? %>
