<p id="notice"><%= notice %></p>

<% content_for :page_title do %>
    <strong style="pointer-events: none;position: absolute; width: 100%; left: 0; text-align: center; margin: 0 auto;"><%= @chatroom.name %></strong>
<% end %>

<% unread_messages = false %>
<div data-behavior="messages" data-chatroom-id="<%= @chatroom.id %>" style="overflow-x: hidden; overflow-y: scroll; height: 80vh">
  <% @messages.each do |message| %>
      <% if !unread_messages && @chatroom_user.last_read_at.present? && @chatroom_user.last_read_at < message.created_at %>
          <% unread_messages = true %>
          <div class="strike"><span>Unread Messages</span></div>
      <% end %>
      <%= render message %>
  <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
    <%= f.text_area :body,
                    rows:      1,
                    class:     'form-control',
                    autofocus: true %>
<% end %>
