<!DOCTYPE html>
<html>
<head>
  <title>GroupChat</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if user_signed_in? %>
      <%= tag :meta, name: 'current-user', data: { id: current_user.id } %>
  <% end %>
</head>

<body>

<%= render 'layouts/navbar' %>

<div class="container-fluid" style="margin-top: 70px;">
  <div class="row">

    <div class="col-sm-offset-3 col-sm-9">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
